---
import AddressBar from "../components/AddressBar.astro";
import Layout from "../layouts/Layout.astro";
import Library from "../components/Library.astro";
import Footer from "../components/Footer.astro";

export const prerender = false;

---
<Layout article={null}>
    <AddressBar url="" />
    <div slot="post">
        <h1>
            404: Not Found
        </h1>
    </div>
    <Library slot="library" skipSave />
    <Footer slot="footer" />
</Layout>