---
import { extract } from "@extractus/article-extractor";
import AddressBar from "../components/AddressBar.astro";
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
import Library from "../components/Library.astro";

const params = Astro.url.searchParams;
const url = params.get('url') || '';
let article;

try {
  article = await extract(url);
} catch {
  article = {
    title: "Something is not right",
    content: "<p>The article extractor did not get any result.</p>",
  };
}

---
<Layout title={url !== "" ?  article?.title : "Your modern-day reading assistant"}>
  <AddressBar url={url} />
  <Library postDivSelector="#post" />
  {url && <Post article={article} />}
</Layout>
