---
import App from '../layouts/App.astro'
import Library from '../components/Library.astro'
import Footer from '../components/Footer.astro'
---

<App article={null}>
  <h1>Under Maintenance</h1>
  <p>
    Currently performing scheduled maintenance, working to improve your
    experience. Please check back soon. We apologize for any inconvenience this
    may cause.
  </p>
  <Library slot="library" skipSave={true} />
  <Footer slot="footer" />
</App>
