---
import { ArticleData } from "@extractus/article-extractor";

const article = Astro.props.article;

export interface Props {
  article: ArticleData;
}
---

{
  article ? (
    <article>
      <h1>{article.title}</h1>
      <p>
        by <em>{article.author}</em>
      </p>
      <content set:html={article.content} />
    </article>
  ) : (
    ""
  )
}
