---
import {VERSION} from '../consts'
---

<span class="current-version">{VERSION}</span>

<style>
    .current-version {
        display: inline-block;
        line-height: 1rem;
        border-radius: 1rem;
        padding: 0.2rem 0.5rem;
        background-color: var(--accent);
        color: white;
        font-size: 0.9rem;
    }
</style>