<footer class="footer">
  <p class="footer__title">Cozy 🧸</p>
  <p>Remove distractions. Save for later.</p>
  <p class="footer__attribution">
    Hand-crafted with ❤️ by <a href="https://ayo.ayco.io" target="_blank"
      >Ayo Ayco</a
    >
  </p>
  <p>
    <a href="https://github.com/ayoayco/cozy" target="_blank">Star on GitHub to support!</a>
  </p>
  <p class="footer__disclaimer">All content rights and credits are reserved to their respective owners. Cozy is an app that helps users focus by removing distractions.</p>
</footer>

<style lang="scss">
  .footer {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    color: #555;
    font-size: small;
    padding-bottom: 1rem;

    &__disclaimer {
      font-size: x-small;
      font-style: italic;
      padding: 1rem;
    }

    &__title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__attribution a {
      font-weight: bold;
    }
  }
</style>
