---
import Icon from 'astro-iconify'
---

<footer class="footer">

  <p>Remove distractions. Save for later.</p>
  <p>No sign-ups. No setups. It just works.</p>
  <p>
    <a href="https://github.com/ayoayco/cozy" target="_blank">Star on GitHub to support!</a>
  </p>

  <p class="footer__attribution">
    Hand-crafted with <Icon name="line-md:heart" /> by <a href="https://ayo.ayco.io" target="_blank"
      >Ayo Ayco</a
    >
  </p>

  <p class="footer__disclaimer">All content rights and credits are reserved to their respective owners.</p>
 
</footer>
<style lang="scss">
  .footer {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    font-size: small;
    padding-bottom: 1rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      vertical-align: bottom;
      display: inline;
      border: 0px;
      color: red;
    }

    &__disclaimer, &__attribution {
      padding: 1rem 0 0;
    }

    &__title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__attribution a {
      font-weight: bold;
    }
  }
</style>
