<footer class="footer">
    <p class="footer__title">Cozy 🧸 • <a href="https://github.com/ayoayco/cozy" target="_blank">Star on GitHub</a></p>
    <p>
        Remove distractions. Save for later.
    </p>
    <p>
        Copy rights and credits goes to their respective owners.
    </p>
    <p class="footer__attribution">
        Created by <a href="https://ayo.ayco.io" target="_blank">Ayo Ayco</a>
    </p>
</footer>

<style lang="scss">
    .footer {
        width: 100%;
        text-align: center;
        color: #555;
        font-size: small;
        padding-bottom: 1rem;

        &__attribution a {
            font-weight: bold;
        }
    }
</style>