---
---

<div><a href="/"><h1>Cozy</h1></a></div>

<style>
  div {
    text-align: center;
    padding: 1em;

    h1 {
      text-transform: uppercase;
      font-size: 5em;
    }

    a {
      text-decoration: none;
      color: rgb(var(--black));
    }

    a:hover {
      color: var(--accent);
    }
  }
</style>
