---
const { default: innerHTML } = await import(`/public/jumbotron.svg?raw`)
---

<header id="jumbotron">
  <a href="/">
    <Fragment set:html={innerHTML} />
  </a>
</header>

<style>
  #jumbotron {
    margin: 0 auto;

    svg {
      border: 0px;
      width: 300px;
      max-width: 100%;
    }

    &:hover {
      filter: var(--svg-filter-accent);
    }
  }
</style>
