---
import "./reset.css";
export interface Props {
  title?: string;
}
const appTitle = "Cozy 🧸";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{appTitle} {title && `| ${title}`}</title>
  </head>
  <body>
    <slot />
    <div id="main-content">
      <div id="post-wrapper">
        <slot name="post" />
      </div>
      <div id="library-wrapper">
        <slot name="library" />
      </div>
    </div>
  </body>
</html>

<style>
  #main-content {
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }

  #library-wrapper {
    flex: 1
  }

  #post-wrapper {
    max-width: 600px;
    flex: 2
  }

  @media only screen and (min-width: 0px) and (max-width: 700px) {
  #main-content {
    max-width: 600px;
    display: block;
  }


  }
</style>

<style is:global lang="scss">
  :root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  html * {
    font-family: var(--system-ui);
  }

</style>
